@import "tailwindcss";

/* hide-scroll.css */
.hide-scrollbar {
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body{
  background-color: #f0f8ff;
  width: 100vw;
  overflow-x: hidden;
}